@import url(https://fonts.googleapis.com/css?family=Merriweather:400,700,700italic,300);


/*
new light blue: #bedcea
new dark blue: #0290d2
new dark blue 2: #63b3d8
new alternating blue for table: #e5f4fb
*/


body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: whitesmoke;
}
.background-gradation {
    position: absolute;
    background: linear-gradient( 180deg, #bedcea 50%, whitesmoke);
    height: 200px;
    top: 0;
    left: 0;
    right: 0;
}
.background-gradation-right-corner {
    position: fixed;
    background: linear-gradient( 45deg, transparent 60%, #6e83dadb);
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
}
html {
    overflow-y: scroll
} 
html, body {
    height: 100%;
    min-height: 100vh;
}
p, h1, h2, h3, h4, h5, h6, 
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Merriweather', serif;
}
h2, .h2 {
    margin-top: 50px;
    margin-bottom: 4px;
    font-size: 40px; 
    font-weight: 500;   
}
p, ul, li {
    font-weight: 100;
}
 hr {
    border-top: 1px solid #83A8D1;
}
 a {
    font-weight: bold;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input, select, textarea {
    max-width: 280px;
    padding: 4px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}
input.input-validation-error {
    border: 1px solid #b94a48;
}
input[type="checkbox"].input-validation-error {
    border: 0 none;
}
.validation-summary-errors {
    color: #b94a48;
}
.validation-summary-valid {
    display: none;
}
.row li {
    margin-bottom: 10px;
}
.row ul {
    margin-top: 10px;
}
.hotBox {
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
    min-height: 100px;
    padding: 30px 20px 20px 20px;
    background: linear-gradient( 15deg, #bedcea 50%, whitesmoke);
}
.byline {
    line-height: 1.3;
    color: red;
}
.side-scroll {
    overflow-x: auto;
}
.scroll-pill-div {
    text-align: center;
}
.scroll-pill, .scroll-pill-blue {
    border: solid 1px black;
    border-radius: 15px;
    padding: 7px 10px 6px 10px;
    letter-spacing: .02em;
}
.scroll-pill-blue {
    border: solid 1px black;
    color: black;
}
.code-scrolls-div {
    background: transparent; /* #bedcea */
    text-align: center;
    padding: 5px;
}
.code-scrolls-span {
    color: #5d9fd7;
    font-style: italic;
    letter-spacing: .04em;
}

/* CodeExample */
/* box-sizing: border-box is in effect from bootstrap */

.codeExample {
    overflow: hidden;
    position: relative;
    border: solid 1px #bedcea;
    -webkit-border-radius: 0 10px 10px 10px;
    -moz-border-radius: 0 10px 10px 10px;
    border-radius: 0 15px 10px 10px;
    margin-bottom: 20px;
    background-color: white;
    margin-right: 1px;
}
.codeExample code {
    display: block;
    white-space: pre;
    padding: 10px 20px 30px 30px;
    font-weight: bold;
    color: #5b5a5a;
    background-color: white;
}
.codeExample div.codeTitle {
    display: block;
    padding:  10px 90px 10px 20px;
    background-color: #eee;
}
.codeExample div.codeTitleBlue {
    background-color: #bedcea;
}
.codeExample div.codeTitleGreen {
    background-color: #F5DEDB;
}
.codeExample div.codeResults {
    background-color:white;
    border-top: solid 1px #ccc;
    padding: 10px 10px 10px 20px;
    position: relative;
}
.codeExample label {
    text-align: center;
    line-height: 32px;
    padding: 5px 20px 3px 20px;
    width: 80px;
    height: 40px;
    border-radius: 0 10px 0 10px;
    position: absolute;
    top:0;
    right:0;
    font-size: 12px;
    letter-spacing: .5px;
    color: white;
}
.codeExample div.codeResults label  {
    border-radius: 0 0 0 10px;
}
label.codeLabelBlue {
    background-color: #63b3d8;
}
label.codeLabelGreen {
    background-color: #EC8181;
}
code i {
  color: #F90E0A;
}
.codeBlue {
    color: blue;
}
.codeAqua {
    color: aqua;
}
.codeRed {
    color: red;
}

.rowCounter,
.randomSeed {
    float: right;
    width: 80px;
    padding: 10px;
    margin-left: 10px;
    text-align: center;
    font-weight: bold;
    background: linear-gradient( 360deg, #bedcea 50%, whitesmoke);
}
.randomSeed { 
    margin-left:0;
}
.top-margin {
    margin-top: 30px;
}
.top-margin-small {
    margin-top: 30px;
}
.navbar-custom {
    background-color: #ccc;
    border-color: transparent;
}
.mainContent .navbar-inverse {
    background: linear-gradient( 20deg, #000 60%, #873f87 100%);
    border: none;
}
footer {
    margin-bottom: 60px;
}
.emphasis {
    color: red;
}
.small-logo {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

/*  =========================================================================== 
    Bootstrap Overrides / Additions 
=========================================================================== */
.navbar-nav > li > a {
    line-height: 31px;
}
table {
    border: solid 1px #bedcea;
    background-color: white;
}
table thead {
    background-color: #63b3d8;
    color: white;
    letter-spacing: .5px;
}
.table thead > tr > th {
    border-bottom: none;
}
.table thead > tr > th,
.table tbody > tr > th,
.table tfoot > tr > th,
.table thead > tr > td,
.table tbody > tr > td,
.table tfoot > tr > td {
    border-top: 1px transparent;
}
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #e5f4fb;
}


/* Green table */

.table2 {
    border: solid 1px #84d183;
    background-color: white;
}
.table2 thead {
    background-color: #84d183;
}
.table2 thead > tr > th {
    border-bottom: none;
}
.table2 thead > tr > th,
.table2 tbody > tr > th,
.table2 tfoot > tr > th,
.table2 thead > tr > td,
.table2 tbody > tr > td,
.table2 tfoot > tr > td {
    border-top: 1px solid #84d183;
}
.table2-striped > tbody > tr:nth-child(odd) > td,
.table2-striped > tbody > tr:nth-child(odd) > th {
    background-color: #dbf5db;
}
.nextpage {
    font-weight: bold;
    margin: 10px 0;
}
.nextpage span {
    margin-left: 5px;
}
.SourceDesc{
    font-weight: bold;
    padding: 20px 0 0 0;
}

.linqSplash, .simpleSeedSplash {
    position: absolute;
    top: -10px;
    right: 110px;
    height: 78px;
    width: 153px;
}
.linqSplash {
    background: url(Images/linqSplash.png) no-repeat;
}
.simpleSeedSplash {
    background: url(Images/simpleSeedSplash.png) no-repeat;
}

/*  
=========================================================================== 
    Documentation
=========================================================================== */
/* Namespace H3
.documentation h3 {} */
.documentation h4, .documentation h5, .documentation strong {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.documentation h4 {
    font-size: 18px;
    font-weight: bold;
    margin-left: -30px;
}
.documentation h5 {
    font-size: 16px;
    font-weight: bold;
    color: #1f66b5;
}
.documentation strong {
    font-size: 16px;    
}
.documentation li.class {
    /*background-color: white;*/
    padding: 5px 0 0 30px;
    list-style-type: square;
}


/*  =========================================================================== 
    Rows
=========================================================================== */

.invoiceTable {
    width: 100%; 
    margin-bottom: 20px;
    border: 1px solid #ccc;
}
.invoiceTable tr {

}
.invoiceTable tr td, 
.invoiceTable tr th {
    border-color: #ccc !important;
    padding: 5px 10px;
    border-bottom: 1px solid;
}
.invoiceTable tr:last-child {
    border-bottom: 1px solid #ccc;
}
.accountTable {
    border-right: #6e83dadb;
}
.accountTable tr.accountRow {
    background: linear-gradient( 45deg, #bedcea 10%, #6e83dadb 60%);
    color: black;
    padding-left: 25px;
    font-weight: bold;
    font-style: italic;
}
.accountTable tr td h4{
    padding-left: 25px;
}
.accountTable td {
    width: 16%;
    vertical-align: middle !important;
}
td.accountInvoices {
    padding: 20px 20px 20px 20px !important;
}
.thirdWidth {
    display: inline-block;
    width: 30%;
}
.forthWidth {
    display: inline-block;
    width: 24.5%;
}
.invoice {
    border: solid 2px #ccc;
    padding: 10px;
    margin-bottom: 20px;
}
.invoiceHeader {
    background-color: #ccc;
    padding: 30px 15px;
}
.invoiceSubHeader, .invoiceFooter {
    background-color: #e3e3e3;
    padding: 15px;
}
.invoiceSubHeader {
    color: #64647c;
    font-style: italic;
}
.invoiceFooter {

}
div.no-invoices {
    background-color: #e3e3e3;
    text-align: center;
    font-weight: bold;
    color: #64647c;
    font-style: italic;
    border: solid 1px #ccc;
    padding: 10px;
    margin: 0px;
}
.seedOne {
    border: solid 1px #83A8D1;
    padding: 10px;
    background-color: white;
}
.seedOne div.name {
    display: inline-block;
    width: 150px;
    margin-right: 20px;
    font-weight: bold;
}
.seedOne div span {
    display: inline-block;
    width: 150px;
    margin-right: 20px;
    font-weight: bold;
    text-align: right;
}
.bottom-margin {
    margin-bottom: 30px;
}
.bottom-margin-small {
    margin-bottom: 15px;
}
.widget {
    position: fixed;
    bottom: 0;
    right: 0;
    color: darkred;
    background-color: #f3d36a;
    margin: 10px 5px;
    user-select: none;
    z-index: 3000;
}

/*  =========================================================================== 
    Football Page
    =========================================================================== */

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav-tabs {
    border-bottom: 2px solid #83a8d1;
}
.navTabs {
}
.nav-tabs > li > a {
    margin-right: 10px;
    line-height: 1.42857143;
    border-radius: 4px 4px 0 0;
    top: 1px;
    border: 2px solid transparent;
}
.nav-tabs > li > a:hover {
    border: solid 2px #83a8d1;
    background: linear-gradient( 0deg, #dfdfdf 10%, whitesmoke 69%);
}
li a.activeTab {
    border: solid 2px #83a8d1;
    border-bottom-color: whitesmoke;
    background-color: whitesmoke;
}
li a.activeTab:hover {
    border: solid 2px #83a8d1;
    background: linear-gradient( 180deg, #dfdfdf 10%, whitesmoke 69%);
    border-bottom-color: whitesmoke;
}
nav.navTabs li a {
    color: black;
    border: solid 2px transparent;
}
.gameBox {
    margin-top: 10px;
}
.elapsedTime {
    float: right;
    font-style: italic;
}
#openingSunday {
    margin-left: 10px;
    display: inline-block;
    width: 100px;
    height: 32px;
    border: solid 1px #9a9a9a;
}
.teamsSeed {
    background: linear-gradient( 45deg, #bedcea 50%, #89a1df);
    padding: 10px;
    font-weight: bold;
    margin-bottom: 20px;
    min-width: 400px;
}
.teamsSeed input {
    margin-left: 10px;
}
.bold {
    font-weight: bold;
    color: #346193;
}
.football-icon-small,
.football-icon-medium,
.football-icon-large {
    display: inline-block;
    width: 30px;
    height: 25px;
    background-image: url('/images/NFL-Logos-25-percent.png');
    background-repeat: no-repeat;
    vertical-align: middle;
}
.football-icon-medium {
    width: 60px;
    height: 50px;
    background-image: url('/images/NFL-Logos-50-percent.png');
}
.football-icon-large {
    width: 120px;
    height: 100px;
    background-image: url('/images/NFL-Logos.png');
}
.conference-box {
    /* background-color: white; */
}
.conference-box-title {
    background-color: #ffffff;
    width: 50px;
    padding: 4px;
    text-align: center;
    font-size: 12px;
    font-family: 'Merriweather', serif;
    letter-spacing: 1px;
    font-weight: bold;
    margin: auto;
    position: relative;
    top: 12px;
    border: solid 1px #ccc;
    border-radius: 20px;
}
.team-box {
    text-align: center;
    vertical-align: middle;
    padding: 0px;
    min-width: 30px;
    /*background-color: #e4e4e4;*/
}
.bubble {
    padding: 4px 15px 3px 15px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    margin: auto;
    border: solid 2px #83a8d1;
    border-radius: 20px;
    outline: 0;
    line-height: 16px;
}
.bubble:hover {
    background-color: #b0cdec;
}
.team-conf-div {
    text-align: right;
    line-height: 46px;
}
#team-show-all {
    background: transparent;
    white-space: nowrap;
}
.sectionHeader {
    color: #346193;
    font-weight: bold;
    margin-top: 5px;
}

.football-table {
    min-width: 390px;
}

/* ============================================================================================================ 
    @Media - 
 ============================================================================================================ 
    https ://getbootstrap.com/docs/3.4/css/#responsive-utilities-classes

    Bootstrap 3 values
    xs  <   768  px
    sm  >=  768  px
    md  >=  992  px
    lg  >=  1200 px

    https: //getbootstrap.com/docs/4.1/layout/overview/

    Bootstrap 4 values
    xs  <   576  px
    sm  >=  576  px
    md  >=  768  px
    lg  >=  992  px
    xl  >=  1200 px
*/

/* display if less than 576px ------------------------------------------------------------------------------ */

@media only screen and (max-width: 575.98px) {

    .xss-inline {
        display: none;
    }
    .background-gradation-right-corner {
        background: linear-gradient( 45deg, transparent 75%, #6e83dadb);
    }
}

@media only screen and (min-width: 575.98px) and (max-width: 768px) {

    .background-gradation-right-corner {
        background: linear-gradient( 45deg, transparent 68%, #6e83dadb);
    }
}

/* md  >=  768px ------------------------------------------------------------------------------------------- */

@media only screen and (min-width: 768px) {
    .small-logo {
        margin-left: -14px;
    }
    .hide-bigger-than-md {
        display: none;
    }

}

/* Max sizes      ------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 992px) {
    .teamsSeed {
        margin-bottom: 20px
    }

}