
<div class="codeExample topSpace">
<label class="codeLabelBlue">CODE:</label>
<div class="codeTitle codeTitleBlue">This example passes in a custom GenRules with two new rules and sets the BaseDateTime to 1/1/2020</div>
<code>
<i>// The 'Nested List' rule seeds a list with up to 5 Items whenever it encounters a List of Item</i>
var generatorRules = new GenRules(Convert.ToDateTime("1/1/2020"))
{
    new GenRule("Nested List", typeof(List&lt;Item&gt;), "", (rules, prop) => ExampleGenRules.AddItems&lt;Item&gt;(rules, prop, 5), "Calls nested seed function on list."),
    new GenRule("DateTime Created In Last Month", typeof(DateTime), "Create%", (rules, prop) => rules.BaseDateTime.AddDays (rules.RowRandom.Next(-30, 1)))
};
var list = new List&lt;Item&gt;().Seed(1, 107, generatorRules);
</code>
</div>