
<div class="codeExample topSpace">
<label class="codeLabelBlue">CODE:</label>
<div class="codeTitle codeTitleBlue">This example passes in 5 additional custom rules into the Rules engine</div>
<code>
var generator = new MultiGenerator("~/SourceFiles/xmlSeedSourcePlus.xml")
{
    Rules = {
        new Rule(typeof(string), "ItemName",      g =&gt; func.NextElement(g, "ProductName"), "ItemName"),
        new Rule(typeof(int), "SelectedProduct",  g =&gt; g.RowRandom.Next(0, 11), "Random product id"),
        new Rule(typeof(string), "Ceo",           g =&gt; func.NextElement(g, "FirstName") + " " + func.NextElement(g, "LastName"), "Random CEO Name"),
        new Rule(typeof(string),"Description%",   g =&gt; func.RandomElement(g, "Description"), "Description", "Gets Description from custom XML file" ),
        new Rule(typeof(List&lt;Item&gt;), "",          g =&gt; func.NextCacheItems&lt;Item&gt;(g, g.Cache.Items, 10, 10, false), "ItemList"),
    },
    BaseDateTime = DateTime.Today,
    BaseRandom = new Random(1234567)
};
generator.Cache.Items = new List&lt;Item&gt;().Seed(1, 10, generator);

var examples = new List&lt;Example&gt;().Seed(100, 115, generator);
</code>
</div>
