
<div class="hotBox topSpace">
    <b>When to use SeedPacket?</b>
    <p>
        You will find that SeedPacket is the most useful when you are in the initial stages of a project and want to rapidly change the structure
        of data classes without actually having to worry about the data contained in thoses classes.
    </p>
</div>
