
<div class="hotBox topSpace">
    <b>When to use SeedPacket?</b><br /><br />
    <p>
        You will find that SeedPacket is the most useful when you are in the initial stages of a project 
        and want to rapidly change the structure of data classes without actually having to worry about
        the data contained in those classes.
    </p><p>
        <i>A typical development workflow may be:</i>
    </p><p>
        1. Stub out lists of data using the .Seed method to fill in the structure for your project
    </p><p>
        2. Create custom Rules to fill in and generate realistic data for mockups and presentations
    </p><p>
        3. Use SeedPacket for test doubles in your unit tests if desired
    </p><p>
        4. Migrate to an ORM (Object-Relational Mapping) framework, like Entity Framework, 
          and seed the database using the rules you have created
    </p>
    <p><i>
        Designers and UI/UX Developers can focus on designing without worrying about how changes
        to underlying models and data is affecting their prototypes!
    </i></p>
</div>
