@import url(https://fonts.googleapis.com/css?family=Merriweather:400,700,700italic,300);

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: whitesmoke;
}
html {
    overflow-y: scroll
} 
html, body {
    height: 100%;
}
 p, h1, h2, h3, h4, h5, h6, 
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Merriweather', serif;
}
 h2, .h2 {
    margin-top: 50px;
    margin-bottom: 4px;
    font-size: 40px; 
    font-weight: 500;   
}
 p, ul, li {
    font-weight: 100;
}
 hr {
    border-top: 1px solid #83A8D1;
}
 a {
    font-weight: bold;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
    padding: 4px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.row li {
    margin-bottom: 10px;
}

.row ul {
    margin-top: 10px;
}

.hotBox {
    overflow: hidden;
    position: relative;
    border: solid 1px #ccc;
    margin-bottom: 20px;
    background-color: #F5DEDB;
    min-height: 100px;
    padding: 30px 20px 20px 20px;
}

.byline {
    margin-top: -5px;
    margin-bottom: 30px;
}

/* CodeExample */
/* box-sizing: border-box is in effect from bootstrap */

.codeExample {
    overflow: hidden;
    position: relative;
    border: solid 1px #ccc;
    -webkit-border-radius: 0 10px 10px 10px;
    -moz-border-radius: 0 10px 10px 10px;
    border-radius: 0 10px 10px 10px;
    margin-bottom: 20px;
    background-color: white;
}
.codeExample code {
    display: block;
    white-space: pre;
    padding: 10px 20px 30px 30px;
    font-weight: bold;
    color: #5b5a5a;
    background-color: white;
}
.codeExample div.codeTitle {
    display: block;
    padding:  10px 90px 10px 20px;
    background-color: #eee;
}
.codeExample div.codeTitleBlue {
    background-color: #ECEDF7;
}
.codeExample div.codeTitleGreen {
    background-color: #F5DEDB;
}
.codeExample div.codeResults {
    background-color:white;
    border-top: solid 1px #ccc;
    padding: 10px 10px 10px 20px;
    position: relative;
}
.codeExample label {
    background-color: #ccc;
    text-align: center;
    line-height: 30px;
    padding: 5px 20px 3px 20px;
    width: 80px;
    height: 40px;
    border-radius: 0 10px 0 10px;
    position: absolute;
    top:0;
    right:0;
}
.codeExample div.codeResults label  {
    border-radius: 0 0 0 10px;
}
label.codeLabelBlue {
    background-color:#83A8D1;
}
label.codeLabelGreen {
    background-color: #EC8181;
}
code i {
  color: #F90E0A;
}
.rowCounter,
.randomSeed {
    float:right; 
    width: 80px; 
    height: 80px; 
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    background-color: #CCC;
    text-align: center;
    font-weight: bold;
}
.randomSeed { 
    margin-left:0;
}
.topSpace {
    margin-top: 15px;
}



/*  =========================================================================== 
    Team Page
=========================================================================== */
.navTabs {}

nav.navTabs li a {
    color: black;
    border: solid 2px transparent;
}
.contentBox {
    margin-top: 30px;
}
.gameBox { }
li a.activeTab {
    border: solid 2px #83a8d1;
    border-bottom: none;
    background-color: whitesmoke;
}
.elapsedTime {
    float: right;
    font-style: italic;
    color: #83A8D1;
}
#openingSunday {
    margin-left: 10px;
    display: inline-block;
    width: 100px;
    height: 32px;
    border: solid 1px #9a9a9a;
}
.teamsSeed {
    background-color: #ccc;
    padding: 10px;
    font-weight: bold;
}
    .teamsSeed input {
        margin-left: 10px;
    }

@media only screen and (max-width: 992px) {
    .teamsSeed {
        margin-bottom: 20px
    }
}


/*  =========================================================================== 
    Bootstrap Overrides / Additions 
=========================================================================== */

table {
    border: solid 1px #83A8D1;
    background-color: white;
}
table thead {
    background-color: #83A8D1;
}
.table thead > tr > th {
    border-bottom: none;
}
.table thead > tr > th,
.table tbody > tr > th,
.table tfoot > tr > th,
.table thead > tr > td,
.table tbody > tr > td,
.table tfoot > tr > td {
    border-top: 1px solid #83A8D1;
}
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #ECEDF7;
}
@media only screen and (max-width: 800px) {
    .table-collapse {
        display: block;
        overflow-y: hidden;
        overflow-x: scroll;
        width: 100%;
    }
}
@media only screen and (max-width: 550px) {
    .table-collapse-sm {
        display: block;
        overflow-y: hidden;
        overflow-x: scroll;
        width: 100%;
    }
}

/* Green table */

.table2 {
    border: solid 1px #84d183;
    background-color: white;
}
.table2 thead {
    background-color: #84d183;
}
.table2 thead > tr > th {
    border-bottom: none;
}
.table2 thead > tr > th,
.table2 tbody > tr > th,
.table2 tfoot > tr > th,
.table2 thead > tr > td,
.table2 tbody > tr > td,
.table2 tfoot > tr > td {
    border-top: 1px solid #84d183;
}
.table2-striped > tbody > tr:nth-child(odd) > td,
.table2-striped > tbody > tr:nth-child(odd) > th {
    background-color: #dbf5db;
}
.nextpage {
    font-weight: bold;
    margin: 10px 0;
}
.nextpage span {
    margin-left: 5px;
}
.SourceDesc{
    font-weight: bold;
    padding: 20px 0 0 0;
}

/*  =========================================================================== 
    Documentation
=========================================================================== */

/* Namespace H3
.documentation h3 {} */

.documentation h4, .documentation h5, .documentation strong {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.documentation h4 {
    font-size: 18px;
    font-weight: bold;
    margin-left: -30px;
}
.documentation h5 {
    font-size: 16px;
    font-weight: bold;
    color: #1f66b5;
}
.documentation strong {
    font-size: 16px;    
}
.documentation li.class {
    /*background-color: white;*/
    padding: 5px 0 0 30px;
    list-style-type: square;
}


/*  =========================================================================== 
    Rows
=========================================================================== */

.invoiceTable {
    width: 100%; 
    margin-bottom: 20px;
    border: none;
}
.invoiceTable tr {

}
.invoiceTable td {
    border-color: #ccc !important;
    padding-top: 3px;
    padding-bottom: 3px;
}
.invoiceTable tr:last-child {
    border-bottom: 1px solid #ccc;
}
.accountTable {
    border: solid 1px #83A8D1;
    border-collapse: initial;
}
.accountRow {
}
.accountRow td {
    background-color: #c4d7ec !important;
}
.accountTable td {
    width: 16%;
    vertical-align: middle !important;
}
.thirdWidth {
    display: inline-block;
    width: 30%;
}
.forthWidth {
    display: inline-block;
    width: 24.5%;
}
.invoice {
    border: solid 2px #ccc;
    padding: 10px;
    margin-bottom: 20px;
    border-top-right-radius: 45px
}
.invoiceHeader {
    background-color: #ccc;
    margin: -10px -10px 20px -10px;
    padding: 15px;
    vertical-align: middle;
    border-top-right-radius: 40px
}
.seedOne {
    border: solid 1px #83A8D1;
    padding: 10px;
    background-color: white;
}
.seedOne div.name {
    display: inline-block;
    width: 150px;
    margin-right: 20px;
    font-weight: bold;
}
.seedOne div span {
    display: inline-block;
    width: 150px;
    margin-right: 20px;
    font-weight: bold;
    text-align: right;
}
.sectionHeader {
    font-size: 20px;
    font-weight: bold;
    color: #346194;
}
