<div class="codeExample topSpace">
<label class="codeLabelBlue">CODE:</label>
<div class="codeTitle codeTitleBlue">Be sure to import the <b>SeedPacket</b> namespace.</div>
<code>
<i>// Gets data from the referenced .xml file</i>
var ss = new SimpleSeed("~/SourceFiles/seedsource.xml");
var userList = Enumerable.Range(100, 20)
    .Select(n => new User {
        UserId    = n,
        FirstName = ss.Inject("FirstName", n),
        LastName  = ss.Inject("LastName", n)
    }).ToList();
</code>
</div>
