
<div class="codeExample topSpace">
<label class="codeLabelBlue">CODE:</label>
<div class="codeTitle codeTitleBlue">Import the main <b>SeedPacket</b> namespace and not
    the <b>SeedPacket.Extensions</b> to avoid conflicts with your own new custom extension methods.</div>
<code>
<i>// Add whatever defaults, rules, and customizations suits your own needs.</i>

public static class CustomSeedExtensions
{
    public static List&lt;T&gt;  Seed&lt;T&gt; (this IEnumerable<T> iEnumerable, int seedEnd = 100) where T : new()
    {
       var gen = new MultiGenerator("~/SourceFiles/xmlSeedSourcePlus.xml", dataInputType: DataInputType.XmlFile)
       {
            SeedEnd = seedEnd,
            BaseRandom = new Random(34561),
            Rules =  <i>// Adds rules</i>
            {
                new Rule(typeof(string),"%Sport%", g => Funcs.GetElementNext(g, "Sport"), "Sport", "Custom sport from XML file" )
            }
       };
       return new SeedCore(gen).SeedList(iEnumerable).ToList();
    }
}

<i>// Call the CustomSeedExtensions in your project like so to create 100 rows w/ your custom data.</i>
var userList = new List&lt;AppUser&gt;().Seed();
</code>
</div>


