@page
@model SimpleSeedModel

@{
    ViewData["Title"] = "SimpleSeed";
}

<div class="row">
    <div class="col-md-12">
        <h2>@ViewData["Title"]</h2>
        <h4 class="byline">Documentation</h4>
        <div style="min-height: 600px;"></div>
    </div>
</div>

