@using Examples.Models

@model  List<FootballGame>

<div class="row">
    <div class="col-md-12">
        <table class="table accountTable table-striped topSpace table-collapse">
            <thead>
                <tr>
                    <th>Home Team</th>
                    <th></th>
                    <th>Visiting Team</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var game in Model)
                {
                    <tr>
                        <td>@game.HomeTeam</td>
                        <td>vs</td>
                        <td>@game.AwayTeam</td>   
                    </tr>
                }
            </tbody>
         </table>
     </div>
</div>