@using Examples.Models

@model FootballInfo

    <div class="contentBox">

        <div class="elapsedTime">Generator Elapsed Time is @Model.ElapsedTime seconds</div>

        <div v-if="ActiveTab === 1" id="GamesByWeek" class="gameBox">
            @foreach (var footballWeek in Model.FootballWeeks)
            {
                <div class="sectionHeader">Week @footballWeek.Key</div>
                <div class="row">
                    <div class="col-md-12">
                        @{ Html.RenderPartial("_GamesRow", footballWeek.Value); }
                    </div>
                </div>
            }
        </div>

        <div v-if="ActiveTab === 2" id="GamesByTeam" class="gameBox">
            @foreach (var team in Model.TeamGames)
            {
                <div class="sectionHeader">@team.Key</div>
                <div class="row">
                    <div class="col-md-12">
                        @{ Html.RenderPartial("_GamesRow", team.Value); }
                    </div>
                </div>
            }
        </div>

    </div>
