@using Examples.Models

@model FootballInfo

@{ Html.RenderPartial("_Header"); }


<div class="row">
    <div class="col-md-6">
        <div class="teamsSeed">
            <div class="">
                Seed<input id="randomSeed" type="number" value="1234" maxlength="4" style="width: 100px;" />
            </div>
            @*<div class="rowCounter">
                    First Sunday<input id="firstSunday" type="text" value="20" maxlength="4" style="text-align: center;" />
                </div>*@
        </div>
    </div>
</div>

@{ Html.RenderPartial("_Games", Model); }

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        Teams.init();
    });
</script>


