
@using SeedPacket
@using SeedPacket.Generators
@using WildHare.Extensions

@{ 
    var basicRules = new MultiGenerator(rulesSet: RulesSet.Basic).Rules;

	var wraps = new Dictionary<string, string>
	{
		{ "Nullable`1", "Nullable`1<br />" },
		{ "Generic",    "Generic<br />" }
	};
}

<div id="rowResults" class="side-scroll bottom-margin">

	<div class="example-bar">
		<h4 class="example-title"></h4>
		<span class="example-scrolls">Table Scrolls Left / Right</span>
	</div>

    <table id="rules-basic-table" class="table table-striped table-collapse-sm">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>If Type Is...</th>
                <th style="min-width:100px;">If Property Name Is...</th> 
            </tr>
        </thead>
        <tbody>
            @foreach (Rule rule in basicRules)
            {
                <tr>
                    <td>@rule.RuleName</td>
                    <td>@rule.Description</td>
					<td>@Html.Raw(rule.TypeMatch.ToString().Replace(wraps))</td>
                    <td>@rule.NameMatch.IfNullOrEmpty("Any")</td>
                </tr>
            }
        </tbody>
    </table>
</div>
