
@using SeedPacket
@using SeedPacket.Generators
@using WildHare.Extensions

@{ 
    var basicRules = new MultiGenerator(rulesSet: RulesSet.Basic).Rules;
}

<div id="rowResults" class="side-scroll">
    <table id="rules-basic-table" class="table table-striped top-margin table-collapse-sm">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>If Type Is...</th>
                <th style="min-width:100px;">If Property Name Is...</th> 
            </tr>
        </thead>
        <tbody>
            @foreach (Rule rule in basicRules)
            {
                <tr>
                    <td>@rule.RuleName</td>
                    <td>@rule.Description</td>
                    <td>@rule.TypeMatch</td>
                    <td>@rule.NameMatch.IfNullOrEmpty("Any")</td>
                </tr>
            }
        </tbody>
    </table>
</div>
