
    <div class="hotBox">
        <p>
            <b>To Run Code:</b>
        </p>
        <p>
            Create a folder called <b>Extensions</b> and copy the code below into a file called <b>CustomSeedExtensions.cs</b>
            using the name of your own namespace in place of <b>{YourNamespace}</b>.
        </p>
        <p>
			Create a new folder called <b>SourceFiles</b>. Download the file <a href="~/SourceFiles/xmlSeedSourcePlus.xml" download>XmlSeedSourcePlus.xml</a>
            and save it into this folder. Customize this datasource with your own source data.<br />
        </p>
    </div>
