<div class="codeExample topSpace">
<label class="codeLabelBlue">CODE:</label>
<div class="codeTitle codeTitleBlue">
    Replace {YourNamespace} with your own namespace.
</div>

<code>
using SeedPacket;
using SeedPacket.Functions;
using SeedPacket.Generators;
using System;
using System.Collections.Generic;

namespace {YourNamespace}.Generators
{
    public class CustomGenerator : MultiGenerator
    {
        public CustomGenerator( string sourceFilepath = null,
                                    string sourceString = null,
                                    DataInputType dataInputType = DataInputType.Auto,
                                    RulesSet rulesSet = RulesSet.Advanced
            )
            : base(sourceFilepath, sourceString, dataInputType, rulesSet)
        {
        }

        protected override void GetRules(RulesSet ruleSet)
        {
            switch (ruleSet)
            {
                case RulesSet.None:
                    // No rules loaded. Add rules manually
                    break;

                case RulesSet.Basic:
                    Rules.AddBasicRules();
                    break;

                case RulesSet.Common:
                    Rules.AddBasicRules();
                    Rules.AddCommonRules();
                    break;

                case RulesSet.Advanced:  // Used by default
                    Rules.AddBasicRules();
                    Rules.AddCommonRules();
                    AdvancedRules();
                    break;

                case RulesSet.UnitTest:
                    Rules.AddBasicRules();
                    // Can Add or change Rules here
                    break;

                case RulesSet.Custom:
                    Rules.AddBasicRules();
                    Rules.AddCommonRules();
                    // Can Add or change Rules here
                    break;

                default:
                    throw new NotImplementedException("That is not a valid RulesSet.");
            }
        }

        public void AdvancedRules()
        {
            <i>// Example. Obviously this could be more extensive...</i>

            var advanceRules = new List&lt;Rule&lt;(){
                new Rule(typeof(DateTime), "Create%",   g => g.BaseDateTime.AddDays (g.RowRandom.Next(-30, 1)), "DateTimeInLastMonth"  ),
                new Rule(typeof(string),"Description%", g => Funcs.GetElementRandom(g, "Description"), "Description", "Gets Description from custom XML file" ),
                new Rule(typeof(string), "Ceo",         g => Funcs.GetElementNext(g, "FirstName") + " " + Funcs.GetElementNext(g, "LastName"), "Random CEO Name"),
            };

            this.Rules.AddRange(advanceRules, true);
        }

    }
}
</code>
</div>



