@using SeedPacket.Examples.Logic.Extensions;
@using SeedPacket.Examples.Logic.Models;

<div class="row topSpace">
    <div class="col-md-12">
        <table class="table table table-striped topSpace">
            <thead>
                <tr>
                    <th>CEO</th>
                    <th>Company</th>
                    <th>City</th>
                    <th>State</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var example in new List<Example>().Seed(12))
                {
                    <tr>
                        <td>@example.Ceo</td>
                        <td>@example.CompanyName</td>
                        <td>@example.City</td>
                        <td>@example.State</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
