
    <div class="hotBox">
        <p>
            <b>To Run Code:</b>
        </p>
        <p>
            Create a folder called <b>Generators</b> and copy the code above into a file called <b>CustomGenerator.cs</b>
            using the name of your own namespace in place of <b>{YourNamespace}</b>.
        </p>
        <p>
            To use in the <b>CustomSeedExtensions</b> above, replace all references to the <b>MultiGenerator</b> class with
            a reference to the new CustomGenerator in <b>{YourNamespace}</b>.
        </p>
    </div>