
<div class="row">
    <div class="col-md-12">
        <h3>Overview</h3>
        <p>
            SeedPacket has been created from the beginning for extensibility. The logic for data generation is contained
            in Rules that can be easily removed, replaced, or expanded. Individual rules have access to a plethora of functionality that is
            passed in via dependency injection. The Generators are passed in as interfaces that can be easily switched out with new
            implementations, as can the DataSources, and all the source data that popluates the DataSources (in either
            an XML/JSON file or string).
        </p>
        <p>
            We are going to focus on two extensibility points, <b>Custom Extension Methods</b> and <b>Custom Generators</b>
        </p>
    </div>
</div>