@page
@model ExtendingModel
@{
    ViewData["Title"] = "Extending";
}

<div class="row">
    <div class="col-md-12">
        <h2>Extending</h2>
        <h4 class="byline">how to extend SeedPacket functionality</h4>
    </div>
</div>

<partial name="_Overview" />

<partial name="_CustomExtensionMethods" />

<partial name="_CustomExtensionMethods_Code" />

<partial name="_CustomGenerator" />

<partial name="_CustomGenerator_Code" />

<div class="row">
    <div class="col-md-12">
        <a class="nextpage pull-right" href="/Football">
            Football<span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
        </a>
    </div>
</div>