

.gridTable { margin: 5px;padding: 10px;border: 1px #c8c8c8 solid; border-collapse: collapse;min-width: 800px; background-color: #fff;color: #fff;}
.gridTable th { font-weight: bold;background-color: #030D8D;color: #fff;padding: 10px}
.gridTable a:link, .gridTable thead a:visited, .gridTable thead a:active, .gridTable thead a:hover { color: #fff; text-decoration: none;}
.gridTable a:hover { text-decoration:underline;}
.gridTable tr.gridAltRow { background-color: #efeeef;}
.gridTable tr:hover{ background-color: #f6f70a;}
.gridAltRow td { padding: 10px;margin: 5px; color: #333;}
.gridTable td { padding: 10px;color: #333;}
.gridTable tfoot td {  background-color: #c7d1d6; color: #999;font-size: 12pt;text-align: center; min-width: 20px;}
.gridTable tfoot a { display: inline-block; font-weight: bold; background-color:#aaa; color: black; min-width: 20px; text-decoration: none;}
.gridTable tfoot a:hover { text-decoration: underline;}