
<div class="row">
    <div class="col-md-8">
        <img class="pull-right" style="margin: 20px 0; width:178px; height:215px;" src="~/Content/Images/SeedPacketImage.png" alt="SeedPacket Illustration" />
        <h2>SeedPacket Examples</h2>
        <h3 class="byline">version 2 in C#</h3>
        <p>Created by Will Crowther</p>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h3>More Advanced Example 3</h3>
        <p>
            This example creates a range beginning with SeedBegin 20431 and ending with SeedEnd 20441. The range must move
            in a positive direction and SeedBegin has to be greater than or equal to SeedEnd.
        </p>
    </div>
    <div class="col-md-6">
        @{ Html.RenderPartial("_BasicExample3"); }
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <a class="nextpage pull-right" href="/">
            Home<span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
        </a>
    </div>
</div>
