@import url(https://fonts.googleapis.com/css?family=Merriweather:400,700,700italic,300);

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: whitesmoke;
}
html {
    overflow-y: scroll
} 
html, body {
    height: 100%;
}
 p, h1, h2, h3, h4, h5, h6, 
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Merriweather', serif;
}
 h2, .h2 {
    margin-top: 50px;
    margin-bottom: 4px;
    font-size: 40px; 
    font-weight: 500;   
}
 p, ul, li {
    font-weight: 100;
}
 hr {
    border-top: 1px solid #83A8D1;
}
 a {
    font-weight: bold;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.row li {
    margin-bottom: 10px;
}

.row ul {
    margin-top: 10px;
}

.hotBox {
    overflow: hidden;
    position: relative;
    border: solid 1px #ccc;
    margin-bottom: 20px;
    background-color: #F5DEDB;
    min-height: 100px;
    padding: 30px 20px 20px 20px;
    margin-right: -15px;
}

/* CodeExample */
/* box-sizing: border-box is in effect from bootstrap */

.codeExample {
    overflow: hidden;
    position: relative;
    border: solid 1px #ccc;
    -webkit-border-radius: 0 10px 10px 10px;
    -moz-border-radius: 0 10px 10px 10px;
    border-radius: 0 10px 10px 10px;
    margin-bottom: 20px;
    background-color: white;
}
.codeExample code {
    display: block;
    white-space: pre;
    padding: 10px 20px 30px 30px;
    font-weight: bold;
    color: #5b5a5a;
    background-color: white;
}
.codeExample div.codeTitle {
    display: block;
    padding:  10px 10px 10px 20px;
    background-color: #eee;
}
.codeExample div.codeTitleBlue {
    background-color: #ECEDF7;
}
.codeExample div.codeTitleGreen {
    background-color: #F5DEDB;
}
.codeExample div.codeResults {
    background-color:white;
    border-top: solid 1px #ccc;
    padding: 10px 10px 10px 20px;
    position: relative;
}
.codeExample label {
    background-color: #ccc;
    text-align: center;
    line-height: 30px;
    padding: 5px 20px 3px 20px;
    width: 80px;
    height: 40px;
    border-radius: 0 10px 0 10px;
    position: absolute;
    top:0;
    right:0;
}
.codeExample div.codeResults label  {
    border-radius: 0 0 0 10px;
}
label.codeLabelBlue {
    background-color:#83A8D1;
}
label.codeLabelGreen {
    background-color: #EC8181;
}
code i {
  color: #F90E0A;
}
.rowCounter,
.randomSeed {
    float:right;
    width: 80px;
    height: 70px;
    padding: 10px;
    margin-left: 10px;
    background-color: #CCC;
    text-align: center;
    font-weight: bold;
}
.randomSeed { 
    margin-left:0;
}
.topSpace {
    margin-top: 30px;
}

/*  
=========================================================================== 
    Bootstrap Overrides / Additions 
=========================================================================== 
*/

table {
    border: solid 1px #83A8D1;
    background-color: white;
}
table thead {
    background-color: #83A8D1;
}
.table thead > tr > th {
    border-bottom: none;
}
.table thead > tr > th,
.table tbody > tr > th,
.table tfoot > tr > th,
.table thead > tr > td,
.table tbody > tr > td,
.table tfoot > tr > td {
    border-top: 1px solid #83A8D1;
}
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #ECEDF7;
}

/* Green table */

.table2 {
    border: solid 1px #84d183;
    background-color: white;
}
.table2 thead {
    background-color: #84d183;
}
.table2 thead > tr > th {
    border-bottom: none;
}
.table2 thead > tr > th,
.table2 tbody > tr > th,
.table2 tfoot > tr > th,
.table2 thead > tr > td,
.table2 tbody > tr > td,
.table2 tfoot > tr > td {
    border-top: 1px solid #84d183;
}
.table2-striped > tbody > tr:nth-child(odd) > td,
.table2-striped > tbody > tr:nth-child(odd) > th {
    background-color: #dbf5db;
}

.nextpage {
    font-weight: bold;
    margin: 10px 0;
}

.SourceDesc{
    font-weight: bold;
    padding: 20px 0 0 0;
}

/*  
=========================================================================== 
    Documentation
=========================================================================== 
*/

.documentation h4, .documentation h5, .documentation strong {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.documentation h4 {
    font-size: 18px;
    font-weight: bold;
}
.documentation h5 {
    font-size: 16px;
}
.documentation strong {
    font-size: 16px;
}


