
<div class="hotBox top-margin">
	<p><b>Installing SeedPacket</b></p>
	<p>
		The source code is available on:
		<a href="https://github.com/wcrowther/SeedPacket" target="_blank">
			GitHub
		</a>
	</p>
	<p>
		Install using the NuGet Package Manager in Visual Studio:
	</p>
	<p class="p-3">
		<b>PM> Install-Package SeedPacket</b>
	</p>
	<p>
		For more details: 
		<b><a href="https://www.nuget.org/packages/SeedPacket">
			NuGet - SeedPacket</a></b>
	</p>

</div>
