@using NewLibrary.ForType
@using Website.Models
@using Website.Helpers

@{
    var actionList = new List<ActionViewModel>().Seed();
 }

<table class="table table-striped topSpace">
    <thead>
        <tr>
            @foreach (var column in typeof(ActionViewModel).GetMetaProperties())
            {
                <th>@column.Name</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var action in actionList)
            {
            <tr>
                @foreach (var prop in action.GetMetaProperties())
                {
                    object val = prop.GetInstanceValue();
                    <td>@Html.ValueFor(a => val)</td>
                }
            </tr>
        }
    </tbody>
</table>