<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale = 1.0,maximum-scale = 1.0" />
    <title>SeedPacket Examples</title>
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/grid.css" rel="stylesheet" />
</head>
<body>
    <div class="mainContent">

        <partial name="_NavBar" />

        <div class="container body-content">
            @RenderBody()
            <hr style="clear: both;" />
            <footer>
                <p>&copy; @DateTime.Now.Year Will Crowther - SeedPacket</p>
            </footer>
        </div>

        <partial name="_Widget" />

        @*TODO WJC @Scripts.Render("~/bundles/ScriptApp")*@

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

        @await RenderSectionAsync("Scripts", required: false)
    </div>
</body>
</html>
