
<environment names="Development">

    <div class="badge badge-warning-light widget">
        <div class="visible-xs">xs</div>
        <div class="visible-sm">sm</div>
        <div class="visible-md">md</div>
        <div class="visible-lg">lg</div>
    </div>

</environment>