
@*  // Code to render in page
    @{ Html.RenderPartial("_HtmlCircle");}
*@


<div style="width: 800px; height: 800px; border-radius: 400px; background-color: red; line-height:800px; text-align:center; color:white; overflow: hidden;">
    Big Circle
</div>