@page
@model RowsModel

@{
    ViewData["Title"] = "24,000 Rows";
}

<div class="row">
    <div class="col-md-12">
        <h2>@ViewData["Title"]</h2>
        <h4 class="byline">Sample of 4000 Invoices with 20,000 Line Items</h4>
        <div style="min-height: 600px;"></div>
    </div>
</div>
