
<div class="codeExample topSpace">
    <label class="codeLabelBlue">CODE:</label>
    <div class="codeTitle codeTitleBlue">Generic Linq Range with Select</div>
<code>
<i>// The starting integer and the number of items to create</i>
var userList = Enumerable.Range(1, 15)
.Select(n => new User {
        UserId      = n,
        FirstName   = string.Format("FirstName" + n),
        LastName    = string.Format("LastName" + n),
        Email       = string.Format("FLastName" + n + "@@test.com"),
        Created     = DateTime.Now.AddMonths(n)
}).ToList();
</code>
</div>


