
<div class="codeExample topSpace">
<label class="codeLabelGreen">CODE:</label>
<div class="codeTitle codeTitleGreen">Here is the poco class used for the next examples.</div>
<code>
public class Example
{
    public int ExampleId { get; set; }
    public string FirstName { get; set; }
    public string LastName { get; set; }
    public decimal NetWorth { get; set; }
    public decimal? Investments { get; set; }
    public DateTime Created { get; set; }
}
</code>
</div>
