@using SeedPacket.Extensions
@using Examples.Models
@using SeedPacket
@using SeedPacket.Generators
@using WildHare.Extensions

<div id="rowResults">
    <table class="table table-striped topSpace table-collapse">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>If Type Is...</th>
                <th>If Propery Name Matches...</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Rule rule in new MultiGenerator().Rules )
            {
                <tr>
                    <td>@rule.RuleName</td>
                    <td>@rule.Description</td>
                    <td>@rule.TypeMatch</td>
                    <td>@rule.NameMatch.IfNullOrEmpty("Any")</td>
                </tr>
            }
        </tbody>
    </table>
</div>