@using SeedPacket
@using SeedPacket.Extensions
@using SeedPacket.Generators
@using System

@{ 
    string xmlSourcePath = Server.MapPath("~/SourceFiles/xmlSeedSourcePlus.xml");
    var gen = new MultiGenerator(xmlSourcePath);

    var sports = new List<string>().Seed(seedEnd: 15, generator: gen, customPropertyName: "Sport");
}

<table class="table table table-striped topSpace">
    <thead>
        <tr><th>Sports</th></tr>
    </thead>
    <tbody>
        @foreach (var sport in sports)
        {
            <tr><td>@sport</td></tr>
        }
    </tbody>
</table>
