
<div class="row">
    <div class="col-md-12">
        <h2>Rules</h2>
        <h3 class="byline">for SeedPacket version 2.0.7</h3>
        <h3>Overview</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <p>
            <b>Debugging</b> is turned ON by default and writes useful information to the
            Debug output window in Visual Studio. The name of each property (with type) that data
            was generated for, is shown with the name of rule that it matched.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Basic Rules Set</h3>
        <p>This set of Rules is one of the choices for the default MultiGenerator, is deterministic, and covers basic default data types. 
           For instance, for a string type, the "String" rule just returns the name of the property that it is running for with the rownumber
           appended onto the end. Nullable types act in a similar way, but with 1 in 6 null. The nulls will always be in the same position 
           unless the BaseRandom or the number of elements called is changed.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @{ Html.RenderPartial("_RulesBasic"); }
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Common Rules Set</h3>
        <p>
            The Basic Rules Set is loaded and then these additional, more specific, rules are loaded after.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @{ Html.RenderPartial("_RulesCommon"); }
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <h3>Creating Custom Rules</h3>
        <p>
            The ability to create new, customized versions of a Rule to create data that fits your requirements,  is one of the 
            main strengths of SeedPacket. For more information on the <b>Rule</b> class, consult the <a href="/Documentation#Rule">Documentation</a>.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <a class="nextpage pull-right" href="/Extending">
            Extending<span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
        </a>
    </div>
</div>
