@using Examples.Models
@using Examples.Extensions

<div class="row topSpace">
    <div class="col-md-12">
        <table class="table table table-striped topSpace">
            <thead>
                <tr>
                    <th>CEO</th>
                    <th>Company</th>
                    <th>City</th>
                    <th>State</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in new List<Example>().Seed(12))
                {
                    <tr>
                        <td>@user.Ceo</td>
                        <td>@user.CompanyName</td>
                        <td>@user.City</td>
                        <td>@user.State</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
