@using Examples.Models
@using Examples.Extensions
@{
    ViewBag.Title = "Home Page";
}
<h3>SeedPacket</h3>
<br />
<div class="row">
    <div class="col-md-12">
        <table class="table table table-striped topSpace">
            <thead>
                <tr>
                    <th>UserId</th>
                    <th>Full Name</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in new List<AppUser>().Seed(99).ToList())
                {
                    <tr>
                        <td>@user.UserId</td>
                        <td>@(user.FirstName + " " + user.LastName)</td>
                        <td>@user.Email</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>