
@{ Html.RenderPartial("_Header"); }

<div class="row">
    <div class="col-md-6">
        <p>
            The Rules below 

        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Basic Rules Set</h3>
        <p>
            This set of Rules is one of the choices for the default MultiGenerator, is deterministic, and covers the basic default data types.
            For instance, for a string type, the "String" rule just returns the name of the property that it is running for with the rownumber
            appended onto the end. Nullable types act in a similar way, but with 1 in 6 null. The nulls will always be in the same position
            unless the BaseRandom or the number of elements called is changed.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @{ Html.RenderPartial("_ExtendingExample1"); }
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <a class="nextpage pull-right" href="/Rows">
            25k Rows<span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
        </a>
    </div>
</div>
